html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  color: #e7e9ea;
    background: #161618;

    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #e7e9ea;
    background: #161618;
  }
}
