:root{

     --primary: #9F42E9;
    --prim-light: #b267ed;
    --prim-lighter: #bb7aef;
    --dark: #161618;
    --light: #222225;
    --text:   #e7e9ea;
}

button{
    border: none;

}

*{
    font-family: Poppins;

}
.quiz-choice{
    display: -webkit-box;

    font-family: Poppins;
    color: white;
    font-size: 1.5vh;
    text-align: left;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;

    text-overflow: ellipsis;


    width: 100%;
    max-width: 900px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.quiz-con{
    position: absolute;
    display: flex;
    /* margin: 20px; */
    width: calc(100% - 240px);
    left: 240px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.quiz-curr-question-con{
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: right;
    font-weight: bold;
}
.quiz-curr-question-con span{
    font-family: Poppins;
  
    font-weight:500px;
}
.quiz-form-curve{
    position: absolute;
    aspect-ratio: 900/600;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70%;
    display: flex;
    background-image: url('../public/wave-quiz.svg');
    left: 0;
    width: 100%;
    top: 0;
}
input[type=radio],
input[type=checkbox]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}

.quiz-form-con{
    position: relative;
    width: 850px;
    height: 750px;
    background-color: var(--light);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    /* padding: 20px;/ */
    flex-direction: column;
    gap: 30px;

}

.quiz-question-con{
    position: relative;
    top: 0;
    overflow-wrap: break-word;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--primary);
    width: 100%;
    overflow: hidden;
    align-self: center;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    /* padding: 30px; */
    max-height: 450px; 
    text-overflow: ellipsis;
    font-size: 1.3vw;

    /* height: min-content;  */
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Poppins;
    overflow-wrap: break-word;
}
.quiz-question{

    position: relative;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    height: 100%;
}
.quiz-answer-con{
    position: relative;
    height: calc(100% - 100px);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;

}


.quiz-answer-wrong{
    background-color: red;
}
.quiz-answer-right{
    background-color: green;
}
.quiz-answer:hover{

    background: rgba(178,103,237, 0.5);
}
.quiz-answer:active{

    background-color: var(--primary);
}
.quiz-answer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    justify-content: flex-start;
    /* height: fit-content; */
    width: 90%;
    height: 70px;
    max-height: 90px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: var(--dark);
    margin: 10px;
    /* padding: 10px; */
    z-index: 1;

}
.quiz-selection{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    /* height: 60px; */

    width: 90%;
    height: 70px;
    background-color: var(--dark);
    margin: 10px;
    /* padding: 10px; */
    /* border: 4px solid var(--dark); */
    /* box-shadow: -rem 0 3rem #000; */
    z-index: 1;
    transition: all 200ms ease;

    background-color: var(--primary);
}

.quiz-selection-grayed{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    justify-content: flex-start;
    height: 60px;
    width: 90%;

    margin: 10px;
    padding: 10px;
    z-index: 1;
    transition: all 200ms ease;
    background-color: var(--dark);
}
.quiz-right-answer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    justify-content: flex-start;
    height: 60px;
    width: 90%;
    color: white;
    background-color: var(--dark);
    margin: 10px;
    padding: 10px;
    /* border: 4px solid var(--dark); */
    /* box-shadow: -rem 0 3rem #000; */
    z-index: 1;
    transition: all 200ms ease;
    background-color: green;
}
.quiz-wrong-answer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    justify-content: flex-start;
    height: 60px;
    width: 90%;
    color: white;
    margin: 10px;
    padding: 10px;
    z-index: 1;
    transition: all 200ms ease;
    background-color: red;
}

#quiz-wrong-icon{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;


}
#quiz-right-icon{
    position: relative;
    /* display: flex; */
    width: 25px;
    height: 25px;
    margin: 5px;
}


.quiz-selection-check{
    font-size: 1rem;
    align-self: center;
    justify-self: center;
}
.quiz-selection-circle-con{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    width:25px;
    height: 25px;
    border-radius: 100px;
    margin: 10px;
}

.quiz-selection-inner-circle{
    /* position: absolute; */
    width: 15px;
    height: 15px;
    /* display: flex; */
    /* position: absolute; */
    /* top: 50%; */
    /* right: 50%; */
    /* left: 50%; */
    /* margin: 8px; */
    /* border: 8px solid white; */
    align-self: center;
    justify-self: center;
    background-color: white;
    /* transform: translate(50%, -50%); */

    border-radius: 100%;
}

.quiz-button-con{
    position: relative;
    width: 100%;    
    /* height: 60px; */
    /* height: 100%; */
    display: flex;
    padding: 60px;
    align-items: flex-end;
    justify-content: space-between;
    /* flex-direction: row; */
}

#quiz-next-button{
    position: absolute;
    background-color: var(--primary);
    font-size: 1.3rem;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    margin: 30px;
    right: 0;
    bottom: 0;
    font-family: Poppins;
    font-weight:bold;

    transition: all 200ms ease;
}
#quiz-next-button:hover{
    background-color: #8f3bd1;
}
.quiz-tryagain-con{
    position: relative;
    width: 100%;
    height: 100%;
}
#quiz-tryagain-button{
    position: absolute;
    background-color: var(--primary);
    font-size: 1.3rem;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    margin: 30px;
    /* margin-top: 0px; */
    /* right: 0; */
    bottom: 0;
    /* align-self: flex-end; */
    font-family: Poppins;

    /* justify-self: flex-end; */
    font-weight:bold;

}
#quiz-submit-button{
    position: absolute;
    background-color: var(--primary);
    font-size: 1.3rem;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    margin: 30px;
    /* margin-top: 0px; */
    right: 0;
    bottom: 0;
    /* align-self: flex-end; */
    font-family: Poppins;

    /* justify-self: flex-end; */
    font-weight:bold;

}
#quiz-results-button{
    position: absolute;
    background-color: var(--primary);
    font-size: 1.3rem;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    margin: 30px;
    /* margin-top: 0px; */
    right: 0;
    bottom: 0;
    /* align-self: flex-end; */
    font-family: Poppins;

    /* justify-self: flex-end; */
    font-weight:bold;

}
#quiz-back-button{
    position: absolute;
    background-color: var(--primary);
    font-size: 1.3rem;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 0px;
    left: 0;
    bottom: 0;
    align-self: flex-start;
    font-family: Poppins;

    justify-self: center;
    font-weight:bold;
}

.quiz-results-outer{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--prim-lighter);
   background: conic-gradient();
}
.quiz-results-outer::before{
    content: '';
    position: absolute;
    width: 84%;
    height: 84%;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--primary);
   /* background: conic-gradient(); */
}
.quiz-results-inner{
    position: relative;

}

#quiz-results-percent{
    position: relative;
    margin: 0px;
}
#quiz-results-subtitle{
    position: relative;
    margin: 0px;
    
}
.quiz-question-top-con{
    position: relative;
    height: 300px;
    width: 100%;
}

.quiz-expand-con{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 40px;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* float: right; */
}
#quiz-expand-icon{
    position: relative;
    right: 0;
    top: 0;
    font-size: 0.9rem;
    z-index: 3;
    margin-top: 5px;
    margin-left: 5px;
}


/* Small Screens */
@media only screen and (max-width: 600px){
    
    .quiz-con{
        position: relative;
        width: 100vw;
        margin: 0;
        height: 100vh;
        left: 0;
        display: flex;
        /* flex: 1 1; */
        flex-direction: row;
    }

    .quiz-form-con{
        position: relative;
        top: 0;
        word-wrap: break-word;
        height: calc(100% - 5rem);
        margin-bottom: 5rem;
        gap: 10px;
    }

    .quiz-question-con{
        height: 150px;
    }

    .quiz-answer{
        position: relative;
        /* flex: 1 1 160px; */
        height: 5rem;
        text-overflow: ellipsis;
        
    }
    .quiz-choice{
        position: relative;
        font-size: 3.3vw;
        text-align: left;
        display: inline-block;
        text-overflow: ellipsis;
        width: 90%;
        
            
        text-overflow: ellipsis;

        display: -webkit-box;

        width: 100%;
        max-width: 300px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }
    .quiz-expand-con{
        right: 0;
        align-self: flex-end;
        justify-self: flex-end;
        width: 100%;
        max-width: 20px;
    }
    .quiz-question{
        font-size: 1.3rem;
        font-size: 3.5vw;

        /* align-self: center; */
    }
    .quiz-selection{
        height: 80px;
    }
    .quiz-answer-con{
        display: flex;
        height: 100%;
        /* align-content: flceecex-start; */
        margin-bottom: 0px;
        align-content: center;
        /* flex-wrap: wrap; */
       /* gap: rem; */
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
}
/* Large Screens */
@media only screen and (min-width: 600px){
    
  
}
